body {
  background: #FCFFFE;
  font-family:Arial, Helvetica, sans-serif;
}

.assignment {
  display:flex;
  padding:10px;
  margin:10px;
  background:#98CCB6; 
}

.assignment img {
  width:200px;
  margin:10px;
  boder:4px dashed #FFF;
}
.assignment img:hover {
  boder:4px dashed #f25C69;
}
h1 {
  color: #5D7f71;
  text-align:center;
}

h1:hover {
  color: #f25C69;
}

a {
  text-decoration:none;
  color:#FFF;
}

a:hover {
  color:#F25C69
}
